{% assign competition-page = site.html_pages | where: 'id', 'competition' | first %}
<div class="vpad--xxxxl bg--img text--white bg--dark" style="background-image: url('{{site.img}}/content/competition/promo.jpg');">
  <div class="container container--100">
    <div class="row row--start">
      <div class="col col--xxxl-8">
        <div class="width width--xl">
          <h2 class="title title--xxl">{{competition-page.long-title}}</h2>
          <p class="text--ll-lg text--normal text--xxxxl">{{competition-page.promo}}</p>
          <div class="space--md"></div>
          <a id="track-btn-footer-competition" href="{{site.baseurl}}{{competition-page.url}}" class="btn btn--lg btn--cyan">Enter Now</a>
        </div>
      </div>
    </div>
  </div>
</div>