<div class="boxpad--xl bg--partner-light promo-code-box">
  <div class="title title--xs">Exclusive members offer</div>
  <p class="text--xl">Download the TouchNote app and use the below promo code to enjoy four free cards on a 14-day free trial</p>
  <div class="space--sm"></div>
  <div class="row row--no-gutters">
    <div class="col--7"><div class="promo-code">ESCAPE</div></div>
    <div class="col--5"><a href="{{site.client.download-link}}" class="btn btn--cyan">Download</a></div>
  </div>
</div>