---
layout: default
id: breaks
title: Breaks
permalink: /breaks/
nav: true
nav-order: 2

intro: Here they are, a handpicked selection of Great British Breaks. Make your memories last – whether it’s a weekend walking the Cotswolds, Salmon spotting in the wilds of Scotland, or a bike ride in Penzance  – with your first four photocards free from TouchNote.

sections:

  - id: iconic-british
    title: Iconic British
    description: From cockles at the seaside to a knees-up with locals in a Kentish country pub, there are some British holiday spots that are irresistibly timeless and wonderfully nostalgic, harking back to family day outs and time spent with loved ones. So if you’re tucking into fish and chips in Whitby or catching a show in London’s West End, pair your getaway with a stylish hotel and pop a card in the post to remind you of your iconic British break.

  - id: remote-wild
    title: Remote & Wild
    description: Fancy getting away from it all? Britain is home to some rather special secluded places, where you feel like you’re the only one around for miles. From wild, Atlantic-battered islands in the Hebrides to the lesser-known landscapes of the Welsh Coastal Path, choose a break that really allows you to find a bit of peace and quiet and take the opportunity to enjoy some quality time. Pick from Manor houses, boutique cottages and more, all set in gorgeous surroundings for those long, back-to-nature days.

  - id: spa
    title: Spa
    description: Sometimes nothing beats a few days in a spa. Letting yourself be pampered from head to toe, dipping into jacuzzis, pools, mud baths and saunas… If you can bear it, a spa getaway also comes with some other nice features. Beautiful hotels in lush surroundings, timeless spa towns filled with those other rejuvenating treatments – like shopping, fine dining and excellent bars; a spa getaway doesn’t need to just be sitting in a hot tub with that special someone. Though, we wouldn’t blame you if that’s all you can manage...
---

<div class="bg--grey-lightest">
  <div class="container">
    <div class="vpad--xxl width width--xl text--center text--xxl">
      <p>{{page.intro}}</p>
      <p>Use the promo code to enjoy four free cards on a 14-day free trial</p>
      <div class="promo-code">ESCAPE</div><br />
      <a id="track-{{page.id}}-intro-download-btn" href="{{site.client.download-link}}" class="btn btn--cyan js-open-modal" data-open-modal="download-app">Download the app</a>
    </div>
  </div>
</div>

{% for item in page.sections %}
{% assign offers = site.data.offers[item.id] | sort: 'price' %}

<div class="{% cycle '', 'bg--grey-lightest' %}">
  <div class="container vpad--xxl">
    <h2 class="title title--xl">{{item.title}}</h2>
    <p class="width--xl text--xxl">{{item.description}}</p>
    <div class="vpad--lg">
      <div class="row row--xl-6-6 row--gutters-lg">
        {% for offer in offers %}
          <div class="col">
            {% include offer/offer.html %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endfor %}
