---
layout: default
id: overview
title: Overview
permalink: /
nav: true
nav-order: 1

banner:
  title: Reconnect on&nbsp;a <br class="desktop-break">great British break
  title-sub: >
    <span class="sub-title--lg">In partnership with <img class="banner-logo" src="{{site.img}}/logo/partner.svg" alt="{{site.client.name}}"></span>
---

<div class="container">

  <div class="vpad--xxl">
    <div class="row row--gutters-xl">
      <div class="col col--6 text--xxl">
        <p>Sometimes our busy lives get in the way of what really matters. That’s why together with TouchNote, a membership service for real personalised photo cards sent from your phone, we’re helping you reconnect with a loved one on a great British Break. Capture those moments that only travel can bring with a TouchNote, and share your memories with those you love.</p>
        <p>Classic seaside getaways, remote hideaways and relaxing spa escapes; load up the car, hop on the train, and start crafting your special travel experiences, all on a Great British Break.</p>
      </div>
      <div class="col col--6">
        {% include page/touchnote-promo-box.html %}
      </div>
    </div>

  </div>

  {% assign site-pages = site.html_pages | where: 'nav', 'true' | sort: 'nav-order' %}
  {% for item in site-pages %}
    {% unless page.id == item.id or item.id == 'competition' %}
      <div class="bob{% cycle '', ' bob--swap' %}">
        <div class="bob__img">
          <div class="bg-img bg-img--4-3 bg-img--float" style="background-image: url('{{site.img}}/content/{{item.id}}/nav.jpg');">
            <a class="bg-img__link" href="{{site.baseurl}}{{item.url}}"></a>
          </div>
        </div>
        <div class="bob__text">
          <h2 class="title title--lg">{{item.title}}</h2>
          <p class="text--xl">{{item.intro}}</p>
          <div class="space--sm"></div>
          <a href="{{site.baseurl}}{{item.url}}" class="btn btn--outline btn--outline-cyan">Find Out More</a>
        </div>
      </div>
    {% endunless %}
  {% endfor %}

</div>
<div class="space--xxxl"></div>