// general styles for the project that wouldn't be a reuseable component

.promo-code {
  display: inline-block;
  margin: $s2 auto;
  padding: $s-1 $s8;
  letter-spacing: .1rem;
  font-weight: 700;
  font-size: $s0;
  word-break: break-all;
  border: 2px solid rgba($t-cyan, .5);
  border-radius: 3px;
}

.banner-logo {
  max-width: 130px;
  vertical-align: baseline;
  @include bp($lg) {
    margin-left: 5px;
    max-width: 180px;
  }
}

// .banner-logo {
//   display: inline-block;
//   background-image: url("../img/logo/partner.svg");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: contain;
//   width: 40%;
//   max-width: 180px;
//   margin-left: 8px;
//   &:before {
//     content: "";
//     display: block;
//     width: 100%;
//     padding-top: 18%;
//   }
// }

.desktop-break {
  display: none;
  @include bp($xxxl) {
    display: block;
  }
}